{{#with user}}
<div class="container container-marg-bot">

    <p>Welcome {{username}}, here you can look for your previous researches and more info</p>
    {{/with}}

    <div class="row">
        <div class="col-md-4 researches-cont">

            <ul>
                {{#each user.search_id}}
                <li>
                    <button id="" type="submit" class="searches-btns">{{this.place}}s in  {{this.zone}}</button>
                </li>
                {{/each}}
            </ul>

        </div>

        {{!-- <div class="col-md-6 researches-cont">
            <div class="hidden">
            <ul>
{{#each user.bussineses_id}}

                <li>
                    <p>{{this.name}}</p>
                </li>
                {{/each}}
                </ul>
        </div>

    </div> --}}
</div>

