{{#with user}}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Welcome {{username}}</p>
    </div>

    <div class="col-md-6">
      <label for="">Previous searches</label>

      <select name="" class="form-control" id="">
        <option>Seleccionar</option>

        <option></option>

      </select>
    </div>


    <button type="submit" class="btn btn-dark">Search</button>

    </form>
    {{/with}}
  </div>
</div>