<p class="make-acc">Not registered yet? <a href="/auth/signup">Make an account</a></p>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>ViaHappy!</h1>
      <h2>your travel app</h2>
    </div>
    <div class="col-md-6">
      <h2>Search hotels all over the world</h2>
    </div>
  </div>
</div>