body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba($color: #31a091, $alpha: .9) url('../images/resort.png') no-repeat center /cover;
}

h1,h2,h3,p{
  color: whitesmoke;
  text-shadow: 4px 4px 0 rgba(61, 61, 61, 0.4)
}

.back-lookups p{
text-shadow: 0 0
}
p{
  font-size: 1.5em;

}

nav{
  margin-bottom: 30px;
  height: 80px;
  text-shadow: 2px 2px 0 rgba(128, 128, 128, 0)
}

nav a{
  font-size: 1.5em;
}

.logo{
  font-size: 2.7em
}

.img-profile{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 15px
}

li{
  list-style-type: none;
  line-height: 2.3em
}

ul a{
  color: white;
}

a {
  color: rgb(211, 222, 226);
}

figure{
  height: 500px;
}

h3{
  margin-bottom: 30px
}

.acc-btn{
  margin-bottom: 20px
}

.form-control{
  width: 20%
}

.make-acc{
  margin: 20px
}

.previous-searches{
  width: 40%;
  margin-bottom: 15px
}
.search-prev-btn{
width: 20%;
height: 50px
}

.marg-bot{
  margin-bottom: 15px
}

.marg-top{
  margin-top: 50px
}

.marg-left{
  margin-left: 15px
}

.container-marg-bot{
  margin-bottom: 50px
}

.form-width{
  width: 50%
}

.researches-cont{
// background-color: rgba($color: #31a091, $alpha: .5);
border: 2px solid black;
border-radius: 10%;
background-color: rgba($color: #fdffffb9, $alpha: .5);
margin-right: 15px;
}

.researches-cont p{
  color: black
}

.searches-btns{
 border: none;
 background-color: rgba($color: #31a091, $alpha: .0);
 font-size: 1.5em
}

.box-size{
  height: 38px;
}

.form-upload-width{
  width: 30%
}
