body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{
  margin-bottom: 30px;
}

a {
  color: #00B7FF;
}

.acc-btn{
  margin-bottom: 20px
}

.form-control{
  width: 20%
}

.make-acc{
  margin: 20px
}

.welcome{
  
}